.mailchimp-subscribe__email-input {
	color: #666666;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	display: block;
	padding: 11px;
	width: 100%;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 1.5;
}

.mailchimp-subscribe__submit {
	width: 100%;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	padding: 12px 11px;
	background-color: #222222;
	box-shadow: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
}

.mailchimp-subscribe__submit:hover,
.mailchimp-subscribe__submit:focus {
	background-color: #767676;
}
